.App {
  text-align: center;
}

.form {
  margin-left: 36%;
  margin-right: 36%;
}

.movie {
  padding: 2%;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.nav {
  text-align: left;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(254, 255, 255);
  font-family: "Montserrat", sans-serif;
}

.heading {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.flexbox {
  display: flex;
}

.form {
  font-family: "Poppins", sans-serif;
}

.left {
  margin-left: 10%;
  padding-right: 20%;
}

.right {
  margin-left: 20%;
}

.form {
  margin-left: 10%;
  margin-right: 20%;
}

@media screen and (max-width: 800px) {
  .flexbox {
    display: block;
  }
  .form {
    margin-left: 25%;
    margin-right: 25%;
  }
  .right {
    margin-left: 0%;
  }
  .left {
    margin-left: 0%;
    padding-right: 0%;
  }
  .image {
    visibility: hidden;
    height: 0px;
  }
}

.nav {
  width: 100%;
}
